.main-container {
    background-color: #24272c;
    color: white;
    padding: 2.5% 5% 4% 5%;
    
}

.flex-items {
    display: flex;
    flex-direction: row;
    align-items: start;
    align-content: start;
    gap: 70px;
    margin-bottom: 30px;
}

.footer-links {
    color: white;
    text-decoration: none;
}

.column {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 5px;
}

.description {
    max-width: 300px;
}

.footer-text {
    padding-block: 25px 0px;
    margin-block: 0px -25px;
    justify-self: center;
}

.footer-line {
    border: none;
    height: 1.5px;
    background-color: #434041;
    margin: 10px 0;
}