.div-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 7px 30px;
    border-bottom: 1.2px solid #d9d9d9;
}

.left-img {
    width: 160px;
    padding-top: 10px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    padding: 0px;
}

.link {
    text-decoration: none;
    color: #a81417;
    font-family: Poppins-SemiBold;
}

.link:hover {
    color: #660c0d;
}

.middle-section {
    margin-left: 110px;
}

.button-link {
    text-decoration: none;
    color: white;
    font-family: Poppins-SemiBold;
}

.cart-button {
    background-color: #ffc20e;
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
}

.cart-button:hover {
    background-color: #f3b600;
}

.login-button {
    background-color: #a81417;
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
}

.login-button:hover {
    background-color: #831012;
}

.signup-button {
    background-color: black;
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
}

.signup-button:hover {
    background-color: #1d1d1d;
}

.right-section {
    display: flex;
    flex-direction: row;
    gap: 12px;
}