.card {
    display: flex;
    flex-direction: row;

    height: fit-content;
    width: fit-content;
    justify-self: center;
    
    margin: 10% 5%;

    border: 1px solid #d6d6d6;
    border-radius: 15px;
    box-shadow: 0 0 7px 5px #f7f7f7;
    overflow: hidden;
}

.card-details {
    margin: 10px 40px;
}

.card-label {
    background-color: #991d20;
    color: white;

    padding-block: 73px;
    align-self: center;
}